.prices {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #000000;
  box-sizing: border-box;

  @media screen and (max-width: 767px) {
    // height: 826px;
    background-image: url('../images/mob-slider2.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/mob-slider2@2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/mob-slider2@3x.jpg');
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    height: 858px;

    background-image: url('../images/tabl-slider2.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/tabl-slider2.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../images/tabl-slider2.jpg');
    }
  }

  @media screen and (min-width: $desktop-breakpoint) {
    height: 718px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/desk-slider2.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desk-slider2@2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/desk-slider2@3x.jpg');
    }
  }
}

.container {
  margin: 0 auto;
  padding: 84px 31px;

  @media screen and (min-width: $mobile-breakpoint) {
    max-width: $mobile-breakpoint;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    max-width: $tablet-breakpoint;
    padding: 100px 39px;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    max-width: $desktop-breakpoint;
    padding: 130px 55px;
  }
}

.subtitle_price {
  display: inline-flex;
  align-items: center;
  height: 15px;
  margin-bottom: 20px;

  & .icon {
    fill: $title-text-color;
  }
}

.section-name {
  margin-top: 0;
  margin-left: 20px;
  font-family: $font-main;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $title-text-color;
}

.section-title {
  margin-top: 0;
  margin-bottom: 44px;

  font-family: $font-secondary;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: $wite-text-cocor;
}

.block-price-list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: 100%;

  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

  @media screen and (min-width: $mobile-breakpoint) {
    max-width: 418px;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    max-width: 690px;
    padding-: 30px 40px;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    max-width: 1170px;
    display: flex;

    & .secondary {
      background: linear-gradient(
        180deg,
        #090b13 0%,
        rgba(9, 11, 19, 0.2) 100%
      );
    }
  }
}

.price-list {
  padding-right: 40px;
  padding-left: 40px;

  &:first-child {
    padding-top: 30px;
  }

  &:last-child {
    padding-bottom: 30px;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    width: 50%;
    padding-bottom: 30px;

    &:last-child {
      padding-top: 30px;
    }
  }
}

.price-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;

  font-family: $font-main;

  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;

  color: $secondary-text-color;

  &::before {
    content: '';
    height: 1px;
    border-bottom: 1px solid rgba(157, 164, 189, 0.12);
    flex-grow: 1;
    order: 2;
    margin: 0 6px;
  }

  & .value {
    order: 3;
  }
}

.button {
  display: flex;
  margin-right: auto;
  margin-left: auto;

  padding: 12px 20px;

  border: 1px solid $accent-color;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;

  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $wite-text-cocor;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
