<section class="prices">
  <div class="container">
    <div class="subtitle_price">
      <svg class="icon" width="60" height="1">
        <use href="./images/sprite.svg#line"></use>
      </svg>
      <h2 class="section-name">Проведи время в компании лучших мастеров</h2>
    </div>

    <h3 class="section-title">Услуги и цены</h3>
    <div class="block-price-list">
      <ul class="price-list">
        <li class="price-item">
          Мужская стрижка <span class="value">от 300 грн.</span>
        </li>

        <li class="price-item">
          Стрижка бороды <span class="value">от 200 грн.</span>
        </li>
        <li class="price-item">
          Стрижка усов <span class="value">от 200 грн.</span>
        </li>
        <li class="price-item">
          Бритье опасной бритвой <span class="value">от 200 грн.</span>
        </li>
      </ul>
      <ul class="price-list secondary">
        <li class="price-item">
          Стрижка у стажера <span class="value">от 50 грн.</span>
        </li>
        <li class="price-item">
          Стрижка под насадку <span class="value">от 200 грн.</span>
        </li>
        <li class="price-item">
          Детская стрижка (до 12 лет) <span class="value">от 300 грн.</span>
        </li>
        <li class="price-item">
          Камуфлирование седины <span class="value">от 200 грн.</span>
        </li>
      </ul>
    </div>

    <button class="button">онлайн-запись</button>
  </div>
</section>
